*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Nunito', sans-serif;
}
/* navbar section */
 .nav-bar span{
    color: #d64668;
}
.header{
    position: relative;
}
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul a{
    text-decoration: none;
    color: #000;
}
.btn{
    
    background-color: #EC4067;
    padding: 5px 12px 5px 12px;
    border-radius: 6px;
    font-size: 13px;
    color: #fff;

}

/* first section */
   .first-section{
       display: flex;
       font-family: 'Nunito', sans-serif;
       margin: 30px;
       justify-content: space-between;
   }
   .left-side{
       text-align: left;
       justify-content: center;
       padding: 10px;
       margin-top: 30px;
       width: 100%;
   }
   img{
       width: 600px;
       height: auto;
   }
   
   .left-side .section-title{
       font-weight: 200;
       margin: 20px;
       font-size: 28px;
   }
   h1{
       margin: 20px;
       font-size: 28px;
   }
   .left-side .section-about{
       color: #EC4067;
       margin: 20px;
   }
   
   .left-side p{
       margin: 20px;
       font-family: 'Times New Roman', Times, serif;
       font-size: 28px;
   }
   button{
       margin: 20px 20px 0 20px;
   }
   .left-side .btn{
       background-color: #EC4067;
       color: white;
       border: 2px solid #EC4067;
       font-size: 18px;
       padding: 10px 25px;
       
   }

   /* a second section */

.section-head{ 
    margin-left: 70px;
}
.section-head em{
    font-size: 25px;
}

.orientation{
    display: flex;
    font-family: 'Nunito', sans-serif;
    margin: 50px;
    justify-content: space-between;
    
}
.orientation .right-side{
    margin: 30px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    
}
.orientation h3{
    margin: 50px;
}

.orientation p{
    margin: 50px;
}
.orientation .btn{
    background-color: #EC4067;
    color: white;
    border: 2px solid #EC4067;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 10px;
    margin: 50px;
}
.btn:hover{
    color: #EC4067;
    background: none;
}
.orientation .left-side img{
    height: auto;
}
/* Technical mentors section*/
.tm{
    width: 90%;
    margin-left: 50px;
    margin-right: 30px;
}
.tm-section{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    
}
.tm-single{
    margin: 18px;
}
.tm-details{
    text-align: left;
    justify-content: center;
}
#tm-details h3{
    margin-left: 20px;
    font-size: 20px;
}
.tm-single img{
    height: 200px;
    width: 200px;
    margin: 18px;
}

.tm-single h4{
    color: #EC4067;
    font-size: 18px;
    margin: 10px;
    
}
.tm-single p{
    width: 100%;
    margin: 20px;
}
.tm-single button{
    background-color: #EC4067;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;

}
/* More info section */
.info-section{
    margin-left: 50px;
}
.more-info{
    margin-left: 20px;
}
.more-info h2{
    color: #EC4067;
    font-size: 28px;
    margin: 20px;
}

.more-info p{
    font-size: 18px;
    margin-left: 20px;
}
.more-info button{
    background-color: #EC4067;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}
.more-info span{
    color: #EC4067;
}

/* Footer*/
footer{
    height: 100px;
    background-color: rgba(104, 99, 99, 0.4);
    
}
footer p{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    margin-top: 20px;
}